ARIA2C_SECRET= # hardik
HEROKU_APP_NAME= # MRG
# If you need to use rclone, uncomment the following lines and fill them
#RCLONE_CONFIG='type = ...' # Use single quote to prevent weird things from happening
#RCLONE_DESTINATION=
